<h1> Create A New Song </h1>
<form method="post" action="/songs" >
<label>Title</label>
<input type= "text" name="name" placeholder="Name your song">
<br>

<label>Artist</label>
<input type="text" name="artist" placeholder= "Who are You?">
<br>

<label> Select a Genre </label>
<br>
<%@genres.each do |genre|%>
<input type="checkbox" name="genre[]" value= <%genre.id%>>
<%=genre.name.capitalize%>
<%end%>
</form>


